
<!-- container helps center, add padding, and control the width of the internal elements -->

	<!-- horizontal row of 12 columns (Easily divisable by 3 and 4), which is helpful to move things
	and divide the page -->
		
	<!-- divide the row based on the grid -->
	  	
	<div class="text-center welcome">	
	  	<h1 class = "h1 brand">ReelSearch</h1>
		  <form accept-charset="UTF-8" action="/result" method="post">    
		    
		    <h5>Please, make your selection:</h5>

		    <input class="input-large" id="search_box" name="movie" type="text" />

		    <input class="btn btn-default" id="button" name="commit" type="submit" value="Search" /> 
		  
		  </form>
  	</div>
	
