<!-- LAYOUT.erb -->

<!DOCTYPE html>


<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" type = "text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type = "text/css" href="/stylesheets/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, user-scalable=no"/>
		<link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
	</head>

	<body>
			<%= yield %>
	</body>


</html>