
<div class ="container">

<h4> Edit Custom Code </h4>
<%= form_for :url, url: url_path(@url), method: :patch do |f|%>

<%= f.text_field :random_string, class: "form-control"%>

<%= f.submit 'Update', class: "btn btn-sm btn-primary" %>

<%end%>

</div>